@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;600&family=Goldman&display=swap');/*font-family: 'Goldman', cursive;*/

html{
    height: 250vh; 
}
    
body{
    padding: 0;                /*met espace à 0*/
    justify-content: space-evenly;
    margin: auto;
}
