{% extends 'base.html' %}
{% block content %}
<title>Ajouter Commande</title>
<center>

<h1> Ajouter une commande</h1>
<br/></br>
    
{% if submitted %}
<h2>Your client infos was submitted Succefully into the database !</h2>
{% else %}
Veuillez remplir le formulaire.
{% endif %}
<div class="position-relative">
    <div class="position-absolute top-0 start-0 translate-middle"></div>
          
    <form  style="margin: auto; width: 220px" action="" method="POST"> 
        <br/>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
</center>
{% endblock content %}