% extends 'client_template.hmtl' %

    % block content % 
        <title>Client</title>
        <h1> Add Client To Database</h1>
        <br/></br>
        {% if submitted %}
            Your Venue Was submitted Succefully!!!
        {% else %}
    
        {% endif %}
            <form action="" method="POST"> 
                {% csrf_token %}
    
                {{form.as_p}}
    
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
    
    % endblock %
 