{% extends 'base.html' %}
<title>Home</title>
{% block content %}
<link rel="stylesheet" href="/static/css/home.css">

<h3>Bienvenue sur la page d'Aquarella!</h3>
<br>

<article id="bts_aceuil" class="bts_aceuil">
  <a class="btn btn-primary" href="http://127.0.0.1:8000/admin/" target="_blank" role="button">Admin</a>
  <a class="btn btn-primary" href="client_template" target="_blank" role="button">Ajouter un Client</a>
  <!-- <a class="btn btn-primary" href="http://127.0.0.1:8000/admin/" target="_blank" role="button">Crée compte Client</a> -->
  <a class="btn btn-primary" href="" target="_blank" role="button">Produits</a>
  <a class="btn btn-primary" href="" target="_blank" role="button">Commandes</a>
</article>    
{% endblock content %}