{% extends 'base.html' %}
{% block content %}
<title>Home</title>
<center><h2>Welcome on the Home page</h2>
  <br/><br/>
  <body>
    To do List :<br/>    
    
    v Remplire base donnée client <br/>
    v Remplire base donnée produit <br/>
    v Remplire base donnée commande <br/>
    v Afficher formulaire client a remplir <br/>
    v Afficher liste clients <br/>
    v Afficher liste produit<br/>
    v Afficher liste commande<br/>
    x Ajouter graphs page d'accueil ?<br/>
    x Ajouter formulaire cree compte user +login/out <br/>
    x ...<br/>
  </body></center>
{% endblock content %}