{% extends 'base.html' %}

{% block content %}
<title>Liste Client</title>
<center><h2>Liste client</h2></center>
<br/>    
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="table-dark">
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Addresse</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>        
    <!-- Affiche tout les noms dans la table client + age mail address phone -->
    {% for liste_de_client in client_list%}
    <tbody>
        <tr class="table-dark">
            <th scope="col"></th>
            <td>{{ liste_de_client }}</td>
            <td>{{liste_de_client.age}}</td>
            <td>{{liste_de_client.email}}</td>
            <td>{{liste_de_client.address}}</td>
            <td>{{liste_de_client.phone}}</td>
        </tr>
    </tbody>          
    {% endfor %}
</table>  
    
{% endblock content %}