{% extends 'base.html' %}

{% block content %}

<title>Produits</title>
<center><h2>Liste produit</h2></center>
<br/>
<table class="table table-bordered table-striped table-hover">
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Quantity</th>
    <th scope="col">Disponibility</th>
    <th scope="col">Price</th>
  </tr>
</thead>
{% for champs in champs_liste %}
<tbody>
  <tr>
    <th scope="col"></th>
    <td> {{ champs.name }}</td>
    <td> {{ champs.type }}</td>
    <td> {{ champs.quantity }}</td>
    <td> {{ champs.disponibility }}</td>
    <td> {{ champs.price }}</td>
  </tr> 
</tbody>
{% endfor %}

</table>

</p>
{% endblock content %}